$primary900: #0f43a6;
$primary600: #145ce6;
$primary300: #80b0ff;
$primary50: #e8effd;

$secondary600: #ffd700;
$secondary300: #ffeb99;
$secondary100: #fff4cc;

$white: #fff;
$gray50: #f9fafc;
$gray100: #f2f4f8;
$gray200: #dde1e6;
$gray300: #c1c7cd;
$gray400: #a2a9b0;
$gray500: #878d96;
$gray600: #697077;
$gray700: #4d5358;
$gray800: #343a3f;
$gray900: #21272a;
$black: #121619;

$red600: #e9304b;
$red500: #ff4d67;
$green600: #3cc263;
$orange600: #ff8502;
